mat-toolbar {
  background-color: rgba(48, 48, 51, 0.9);
  margin-bottom: 30px;
  height: 70px;
  span {
    padding-right: 30px;
    color: #fff;
  }
  .title {
    font-size: 32px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
}

.parallax {
  background-image: url("https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?auto=format&fit=crop&w=1351&q=80");

  /* Set a specific height */
  height: 1000px;
  background-size: cover;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;

}

h1 {
  text-align: left;
  font-size: 92px;
  margin-top: 500px;
  margin-left: 60px;
}
