<div class="container">

  <div class="my">
    <div id="about">
      <h1>About Me</h1>
      <div class="textabout">
        <img src="../../assets/me.jpg" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pharetra molestie condimentum. Etiam at dictum elit, at mollis odio. Sed mattis quis ante sit amet hendrerit. Cras id efficitur justo. In tempus augue ipsum, ac euismod dolor consequat nec. Fusce vel malesuada ante. Curabitur ornare, est id fringilla sollicitudin, nunc magna lacinia lectus, nec eleifend tortor purus sed lorem. Nunc vulputate, diam at tincidunt viverra, odio sem consectetur nisl, sed aliquet magna mauris non neque. Nam metus magna, viverra at euismod nec, dictum fringilla enim. Ut tincidunt tortor sit amet leo vulputate fringilla. Cras in lectus odio. Maecenas ut magna vulputate, tincidunt arcu eget, ornare eros. Mauris varius fringilla lectus, non bibendum arcu scelerisque sed. Vestibulum dolor nibh, rutrum tempor venenatis vitae, pulvinar vel quam. Cras accumsan ac lorem eu viverra. Phasellus et consequat justo, eget porta arcu. Donec laoreet feugiat elit, vitae volutpat orci cursus sed.</p>
      </div>
    </div>
    <div id="skills">
      <div class="textwhat">
        <h1>Skills</h1>
    <div class="round">
    <div class="insideText">
      <h2>80%</h2>
      <p>HTML/CSS</p>
    </div>
    <round-progress
    [current]="80"
    [max]="100"
    [color]="'#ff56a2'"
    [background]="'#f4f2f2'"
    [radius]="120"
    [stroke]="20"
    [semicircle]="flase"
    [rounded]="false"
    [clockwise]="true"
    [responsive]="false"
    [duration]="800"
    [animation]="'easeInOutQuart'"
    [animationDelay]="0"
    ></round-progress>
    </div>
    <div class="round">
    <div class="insideText">
    <h2>60%</h2>
    <p>JS</p>
    </div><round-progress
    [current]="60"
    [max]="100"
    [color]="'#77b2ff'"
    [background]="'#f4f2f2'"
    [radius]="120"
    [stroke]="20"
    [semicircle]="flase"
    [rounded]="false"
    [clockwise]="true"
    [responsive]="false"
    [duration]="800"
    [animation]="'easeInOutQuart'"
    [animationDelay]="0"
    ></round-progress></div>
    <div class="round">
    <div class="insideText">
      <h2>50%</h2>
      <p>Angular</p>
    </div>
    <round-progress
    [current]="50"
    [max]="100"
    [color]="'#ff6247'"
    [background]="'#f4f2f2'"
    [radius]="120"
    [stroke]="20"
    [semicircle]="flase"
    [rounded]="false"
    [clockwise]="true"
    [responsive]="false"
    [duration]="800"
    [animation]="'easeInOutQuart'"
    [animationDelay]="0"
    ></round-progress></div>
    <div class="round">
    <div class="insideText">
      <h2>20%</h2>
      <p>Vue</p>
    </div>
    <round-progress
    [current]="20"
    [max]="100"
    [color]="'#79ff54'"
    [background]="'#f4f2f2'"
    [radius]="120"
    [stroke]="20"
    [semicircle]="flase"
    [rounded]="false"
    [clockwise]="true"
    [responsive]="false"
    [duration]="800"
    [animation]="'easeInOutQuart'"
    [animationDelay]="0"
    ></round-progress></div>



      </div>
    </div>
  </div>
<div class="parallax"></div>
</div>
