<div id="contact">

<div class="mail">
  <div class="email">
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <h3>petroniene.m@gmail.com</h3>
  </div>
</div>

<a href="https://www.facebook.com/monika.voloseviciute">
  <div class="fb">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <h3>Like me on Facebook</h3>
  </div>
</a>
<a href="https://www.linkedin.com/in/monikavoloseviciute/">
  <div class="linkedin">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
    <h3>Contact me on Linkedin</h3>
  </div>
</a>
</div>
